<ion-header>
  <ion-navbar color="primary">
    <ion-title>Guests</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCreate()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let guest of guestList" (click)="goToOptions(guest.id)" >
      <h2>{{guest?.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>