<ion-header>
  <ion-navbar color="primary">
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <ion-card>
    <ion-card-content>
      <div text-center>
        <img src="../../assets/override.png" width="160" height="240">
      </div><br/>
      
      <ion-grid>
        <ion-row>
          <a col-6 href="#"><ion-icon name="mail"></ion-icon> overreid@gmail.com</a>
          <p col-6><ion-icon name="call"></ion-icon> +2348140723300</p>
          <a col-6 href="https://www.github.com/overrideveloper"><ion-icon name="logo-github"></ion-icon></a>
          <a col-6 href="https://www.linkedin.com/in/banso-wisdom-ba47b314b/"><ion-icon name="logo-linkedin"></ion-icon></a>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->
</ion-content>
