<ion-content class="background">
  <br>
  <br>
  <img src="assets/img/profile.png" alt="Profile" class="logo"><br>
<ion-card>
  <ion-card-header class="cardheader">
    Login
  </ion-card-header>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label><ion-icon name="md-mail"></ion-icon></ion-label>
      <ion-input formControlName="email" type="email" placeholder="Enter email address"
      [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      <p>Enter a valid email address!</p>
    </ion-item>

    <ion-item>
      <ion-label><ion-icon name ="md-lock"></ion-icon></ion-label>
      <ion-input formControlName="password" type="password" placeholder="Enter password"
      [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      <p>Password should contain more than 6 characters!</p>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!loginForm.valid">Log In</button>
  </form>
</ion-card>
  <button ion-button block clear (click)="goToSignUp()">Create New Account.</button>
  <button ion-button block clear (click)="goToReset()">Forgot Password?</button>
</ion-content>
