page-login {
    .background {
        background-image: url('../assets/img/background.png');
    }
    .logo {
        margin: 0 auto;
        display: block;
        max-height: 150px;
        max-width: 200px;
        width: 120px;
        height: 120px;
    }

    ion-card.card {
        border-radius: 10px;
    }

.item {
    border-radius: 5px
}

.logo {
    margin: 0 auto;
    display: block;
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
}

.cardheader {
    text-align: center;
    color: #ffffff;
}

form {
    margin-bottom: 32px;
    button {
        margin-top: 20px !important;
    }
}

p {
    font-size: 0.8em;
    color: #d2d2d2;
}

ion-label {
    margin-left: 5px;
}

ion-input {
    padding: 5px;
}

.invalid {
    border-bottom: 1px solid #FF6153;
}

.error-message .item-inner {
    border-bottom: 0 !important;
}


}