<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Events" tabIcon="md-calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Profile" tabIcon="ios-person"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Home" tabIcon="ios-home"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="About" tabIcon="ios-information-circle"></ion-tab>
</ion-tabs>