<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ currentEvent?.name }}'s Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToGuests()">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{ currentEvent?.name }}
    </ion-card-header>
    <ion-card-content>
      <p> Ticket: <strong>{{ currentEvent?.price }}</strong></p>
      <p> Date: <strong>{{ currentEvent?.date }}</strong></p>
    </ion-card-content>
  </ion-card>
</ion-content>
