<!--
  Generated template for the GuestDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ currentGuest?.name }}'s Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{ currentGuest?.name }}
    </ion-card-header>
    <ion-card-content>
      <div text-center>
        <img src={{currentGuest?.profileImage}} width="320" height="480">
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>