<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Guest</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Name</ion-label>
    <ion-input [(ngModel)]="guestName" type="text" placeholder="What's your guest's name?"></ion-input>
  </ion-item>

<ion-buttons end>
    <button ion-button icon-only (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </button>
</ion-buttons>
  <span *ngIf="guestPicture">Picture selected!</span>
  <button ion-button color="primary" block (click)="addGuest(guestName)" [disabled]="!guestName">
    Add Guest
  </button>
</ion-content>
