<ion-header>
  <ion-navbar color="primary">
    <ion-title>New Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formCreate">
    <ion-item>
      <ion-label><ion-icon name="ios-book"></ion-icon></ion-label>
      <ion-input formControlName="name" [(ngModel)]="eventName" type="text" placeholder="What's your event's name?">
      </ion-input>
    </ion-item>

    <ion-item>
        <ion-label><ion-icon name="md-person"></ion-icon></ion-label>
        <ion-input formControlName="speaker" [(ngModel)]="eventSpeaker" type="text"
        placeholder="Speaker">
        </ion-input>
      </ion-item>

    <ion-item>
      <ion-label><ion-icon name="md-cash" ></ion-icon></ion-label>
      <ion-input formControlName="price" [(ngModel)]="eventPrice" type="number"
      placeholder="How much will the guests pay?">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label><ion-icon name="md-cart"></ion-icon></ion-label>
      <ion-input formControlName="cost" [(ngModel)]="eventCost" type="number"
      placeholder="How much are you spending?">
      </ion-input>
    </ion-item>

    <ion-item>
        <ion-label ><ion-icon name="md-pin"></ion-icon></ion-label>
        <ion-input formControlName="location" [(ngModel)]="eventLocation" type="text"
        placeholder="Location">
        </ion-input>
      </ion-item>

    <ion-item>
      <ion-label><ion-icon name="md-calendar"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Event Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="D MMM, YY" pickerFormat="DD MMM YYYY"
      [(ngModel)]="eventDate">
      </ion-datetime>
    </ion-item>

    <button ion-button block [disabled]="!formCreate.valid" (click)="createEvent(eventName, eventDate, eventPrice, eventCost, eventLocation, eventSpeaker)">
    Create Event
    </button>
  </form>
</ion-content>
