<ion-header>
  <ion-navbar color="primary">
    <ion-title>Events</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCreate()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>
    <ion-item *ngFor="let event of eventList" (click)="showOptions(event.id)">
      <ion-avatar item-start>
        <img src="assets/img/profile.png">
        <p>{{event?.speaker}}</p>
      </ion-avatar>
      <h2>{{event?.name}}</h2>
      <p>Ticket: <strong>{{event?.price}}</strong></p>
      <ion-note item-end>3:43 pm</ion-note>
      <p>Date: <strong>{{event?.date}}</strong></p>
      <p>Location: <strong>{{event?.location}}</strong></p>
    </ion-item>
  </ion-list>
</ion-content>