<ion-header>
  <ion-navbar color="primary">
    <ion-title> Edit {{ currentEvent?.name }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>Basic Information</ion-list-header>
    <ion-item (click)="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>Name</ion-col>
          <ion-col col-6 *ngIf="currentEvent?.name">
            {{ currentEvent?.name }}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!currentEvent?.name">
            <span>Tap here to edit.</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label class="dob-label">Date</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" pickerFormat="D MMM YYYY" [(ngModel)]="date"
       (ionChange)="updateDate(date)"></ion-datetime>
    </ion-item>
    
    <ion-item (click)="updatePrice()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>Price</ion-col>
          <ion-col col-6 *ngIf="currentEvent?.price">{{currentEvent?.price}}</ion-col>
          <ion-col col-6 class="placeholder-profile"*ngIf="!currentEvent?.price">
            <span>Tap here to edit.</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updateCost()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>Cost</ion-col>
          <ion-col col-6 *ngIf="currentEvent?.cost">{{currentEvent?.cost}}</ion-col>
          <ion-col col-6 class="placeholder-profile"*ngIf="!currentEvent?.cost">
            <span>Tap here to edit.</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>